In [117]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np

In [118]:
# Files to load
city_data_to_load = os.path.join("Resources","city_data.csv")
ride_data_to_load = os.path.join("Resources","ride_data.csv")

In [119]:
# Read the city data file and store it in a pandas DataFrame.
city_data_df = pd.read_csv(city_data_to_load)

In [120]:
# Read the ride data file and store it in a pandas DataFrame.
ride_data_df = pd.read_csv(ride_data_to_load)

In [121]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [122]:
#total drivers
total_drivers = city_data_df.groupby(["type"]).sum()["driver_count"]
total_drivers

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [123]:
#total fares
total_fares = pyber_data_df.groupby(["type"]).sum()["fare"]
total_fares

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [124]:
#total rides
total_rides = pyber_data_df.groupby(["type"]).count()["ride_id"]
total_rides

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [125]:
#avg fare per ride
avg_fares_ride = total_fares/total_rides
avg_fares_ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [126]:
#avg fare per driver
avg_fares_driver = total_fares/total_drivers
avg_fares_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [222]:
# final summary and Index removed and formatted
final_summary_df = pd.DataFrame({
    "Total Rides" : total_rides,
    "Total Drivers" : total_drivers,
    "Total Fares" : total_fares,
    "Average Fare per Ride" : avg_fares_ride,
    "Average Fare per Driver" : avg_fares_driver  
    })

final_summary_df.index.name = None

final_summary_df["Total Rides"] = final_summary_df["Total Rides"].map("{:,}".format)
final_summary_df["Total Drivers"] = final_summary_df["Total Drivers"].map("{:,}".format)
final_summary_df["Total Fares"] = final_summary_df["Total Fares"].map("${:,.2f}".format)
final_summary_df["Average Fare per Ride"] = final_summary_df["Average Fare per Ride"].map("${:,.2f}".format)
final_summary_df["Average Fare per Driver"] = final_summary_df["Average Fare per Driver"].map("${:,.2f}".format)

final_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,"1,625","2,405","$39,854.38",$24.53,$16.57